:root {
	--color-primary: #1E5542;
	--color-dark: #161A0B;
	--color-green: #1E5542;
	--color-light-green: #EBF0EE;
	--color-white: #FFF;
	--color-gray: #888;
}

body {
	font-family: 'Poppins', sans-serif;
	background: rgba(30, 85, 66, 0.09);
	margin: 0px;
}

/* Reset some default styling */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: calc(100% - 32px);
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 16px;
}

p {
	margin: 16px 0;
}

.heading--bold {
	font-weight: 600;
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {

	body {
		background: var(--color-light-green);
	}
}
